@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}
.container{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat','sans-serif';
}
.container .header1{
    display: block;
    margin:auto;
    font-size: 3rem;
    cursor: pointer;
}

.container .header2{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin:30px 0px;
    flex-wrap: wrap;
}
.container .header2 button{
    margin:0px 10px;
    border:none;
    border-radius: 5px;
    background:none;
    height:60px;
    width:120px;
    cursor: pointer;
    transition:all .5s;
    color:black;
    border:2px solid black;
    font-size: 1rem;
}
.container .header2 button:hover{
    color:white;
    background-color: black;
    border:2px solid black;
}
.container .header2 .slider{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width:150px; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 15px;
    margin:0px 5px;
}

.array_bars{
    height:300px;
    width:max-content;
    margin:20px 0px;
    display:flex;
    flex-direction:row;
    align-items: flex-start;
    justify-content: center;
}
.bar{
    background-color:black;
    margin:0px 2px;
    box-shadow: 1px 1px 4px black;
    border-radius: 20px;
}